extends ../layout

block content
    h1(style="background-color:black;color:white") Bienvenido a Area Calidad #{nombre} #{apellido}
        //EMAIL INCORRECTO
    if(correcto)
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong EnHorabuena!
            |  #{correcto}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        script.
                
            window.history.replaceState({}, document.title, "../../cliente/" + "solicitud");
    if(invalido)                                                                                    
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalperfil'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../cliente/" + "solicitud");
    //CONTRASEÑA INCORRECTA
    if(cambiada)
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Enhorabuena!
            |  #{cambiada}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        script.
                
            window.history.replaceState({}, document.title, "../../cliente/" + "solicitud");
    if(contraseñainvalida)
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalcontrasena'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../cliente/" + "solicitud");
    if(noiguales)
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalcontrasena'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../cliente/" + "solicitud");
    br
    br 
    br
    form(action='enviarsolicitud' method='post' style="background-color:black;color:white;padding:10px;")
        br
        label.form-label(for='detalle') Ingrese detalle de reclamo: 
        input#detalle.form-control(type='text' name='detalle',pattern="^[A-Z a-z]+$" required)
        br
        label.form-label(for="tipo") Elija tipo de reclamo: 
        select#idarea(name="tipo" required)
            option(selected) -- Tipo de reclamo --
            option(name="tipo" value="Servicio tecnico") -- Servicio tecnico
            option(name="tipo" value="Producto defectuoso") -- Producto defectuoso
            option(name="tipo" value="Reclamo") -- Reclamo
            option(name="tipo" value="Garantia") -- Garantia
            option(name="tipo" value="Pago") -- Pago
        br
        br
        input.btn.btn-success(type="submit", value="Enviar solicitud")
        br
    if(enviado)
        label.btn.btn-success(style="color:white;background-color:green;") #{enviado}
    br
    br
    button.btn.btn-success
        a(href='../cliente' style="text-decoration:none;color:white") Volver al menu 