extends ../layout

block content 
    h1(style="background-color:black;color:white") Bienvenido a HelpDesk #{nombre} #{apellido}
    //EMAIL INCORRECTO
    if(correcto)
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong EnHorabuena!
            |  #{correcto}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        script.

                window.history.replaceState({}, document.title, "../../" + "helpdesk");

    if(invalido)                                                                                    
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalperfil'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../" + "helpdesk");
    //CONTRASEÑA INCORRECTA
    if(cambiada)
        .alert.alert-info.alert-dismissible.fade.show(role='alert')
            strong Enhorabuena!
            |  #{cambiada}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        script.

                window.history.replaceState({}, document.title, "../../" + "helpdesk");
    if(contraseñainvalida)
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalcontrasena'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../" + "helpdesk");
    if(noiguales)
        script.
            var myModal = new bootstrap.Modal(document.getElementById('modalcontrasena'), {
                keyboard: false
            })
            myModal.show();
            window.history.replaceState({}, document.title, "../../" + "helpdesk");
    if(solicitudes != '')
            table.table.table-dark.table-striped
                thead
                    tr
                        th(scope='col') ID de la solicitud
                        th(scope='col') Prioridad
                        th(scope='col') Ticket
                        th(scope='col') Fecha
                        th(scope='col') Detalle
                        th(scope='col') Tipo
                        th(scope='col') Manejar solicitud 
                    each value in solicitudes  
                        tr
                            td= value.id_solicitud 
                            td= value.prioridad
                            td= value.ticket
                            td= value.fecha_solicitud 
                            td= value.detalle  
                            td= value.tipo
                            td= button
                                    a(href="#" data-bs-toggle='modal' data-bs-target=`#modalsolicitud${value.id_solicitud}`)  Manejar Solicitud
                                .modal.fade(style='top: 20%;' tabindex='-1' id=`modalsolicitud${value.id_solicitud}`)
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h5#exampleModalLabel.modal-title Pasar solicitud
                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                            .modal-body
                                                form(action='helpdesk/pasarsolicitud' method='post')
                                                    input(type="hidden", name="id_solicitud" value=value.id_solicitud)
                                                    input(type="hidden", name="detalle_razon" value=value.detalle)
                                                    input(type="hidden", name="fecha_ingreso" value=value.fecha_ingreso)
                                                    input(type="hidden", name="fecha_ingreso" value=value.detalle_razon)
                                                    label(for='prioridad') Asignar prioridad: 
                                                    select#prioridad(name='prioridad')
                                                        option(value='alta') Alta
                                                        option(value='media') Media
                                                        option(value='baja') Baja
                                                    br
                                                    br
                                                    label(for='area') Asignar Area: 
                                                    select#area(name='area')
                                                        each value in areas
                                                            option(name="calidad" value=value.id_area) -- #{value.nombre_area}
                                                    br
                                                    br
                                                    .modal-footer
                                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                                                        button.btn.btn-primary(type='submit') Enviar
                                                                                                                                                                                               
    else 
        h3(style="background-color:black;color:white") No hay solicitudes cargadas
     